<a href="https://colab.research.google.com/github/M-Velazco/Praticas/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#operaciones  basicas
print ("la vida es lo mas impostante del mundo")

la vida es lo mas impostante del mundo

In [3]:
A=40
B=25
C=A+B
print(C)

65

In [19]:
nombre = "magdy"
apellido= "velazco"
nombre_completo= nombre + apellido
nombre_completo

'magdyvelazco'

In [9]:
celular=int(input("Danos numero celular"))
print("  este es tu numero de celular")

Danos numero celular3142093310
  este es tu numero

In [12]:
cedula=int(input(" numero cedula"))
print("numero de identidad")

 numero cedula1081394327
numero de identidad

In [23]:
edad="18 años"
nacimiento = "la plata huila"
pais = "colombia"
lugar_completo= nacimiento + pais

In [31]:
from __future__ import print_function
#Decoracion:Nombre del algoritmo
print("----------------")
print("complemento5:CALCULAR MONTO A PAGAR.")
print("----------------")
#ENTRADAS
print("ingrese costo articulo")
C=float(input())
print("numero de docenas")
D=int(input())
#procesos
P=D*12*C
#SALIDAS
print("\nSALIDA:")
print("-------")
print("precio del articulo:",P)

----------------
complemento5:CALCULAR MONTO A PAGAR.
----------------
ingrese costo articulo
7000
numero de docenas
5

SALIDA:
-------
precio del articulo: 420000.0

In [34]:
print("hola mundo\n")

hola mundo

In [37]:
print("hola",end="  ")
print("mundo")

hola  mundo

In [50]:
curso=[7,9,16,"hola",True]
print(list)

<class 'list'>

In [51]:
lista_con_elemtenos=[1,2,True,"hola",5.8]
otra_lista_con_elementos=list([4,9,False])

In [58]:
# Diseñe una lista de nombres los cuales deben contener:juan,pedro,laura,carmen y susana,imprima con salto de linea y muestrelo
nombre=print("juan\n","pedro\n","laura\n","carmen\n","susana\n")

juan
 pedro
 laura
 carmen
 susana

In [60]:
mi_lista=["juan" ,"pedro" ,"laura" ,"carmen" ,"susana"]
print(mi_lista[0])# muestra juan(la primera posicion es 0)
print(mi_lista[-1])#susana
print(mi_lista[1])#pedro
print(mi_lista[2])#laura
print(mi_lista[-2])#carmen

juan
susana
pedro
laura
carmen

In [63]:
lista1=[5,7,9,2]
lista2=[5,8,6,3]
print=lista1 + lista2

In [ ]:
Cómo agregar y remover elementos a una lista en Python